<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700964691007-ki6f1ej8sj1nrmgj45093100d7lp8m78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700964691007-ki6f1ej8sj1nrmgj45093100d7lp8m78</string>
	<key>API_KEY</key>
	<string>AIzaSyAAQB8_jRQzDwIH3wlWezuYuUus3_HXsNU</string>
	<key>GCM_SENDER_ID</key>
	<string>700964691007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.uicgroup.anatomica</string>
	<key>PROJECT_ID</key>
	<string>anatomica-c9d44</string>
	<key>STORAGE_BUCKET</key>
	<string>anatomica-c9d44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700964691007:ios:012e55abf7945a263e2c8a</string>
</dict>
</plist>